nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
.parental{
  display: flex;
  gap: 300px;
}

#text{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 102, 255, 0.578);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    font-size: 60px;
    margin: 0 auto;
        
}

h2 {
    color: red;
    font-size: 50px;
    text-align: center;
    
  }

.footertext{
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  background-color: black;
  padding: 2%;
  border-radius: 10px;
}
ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
}
.navimg img {
  width: 100px;
}
